<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devoir4film">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Devoir4Film">
        <activity android:name=".ForgotPwdActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AjouterCompte" />
        <activity android:name=".CreationCompte" />
        <activity android:name=".ParametresCompte" />
        <activity android:name=".filmDescription" />
        <activity android:name=".choisirHumeur" />
        <activity android:name=".favoris" />
        <activity android:name=".SuggestionFilm" />
    </application>

</manifest>